body {
    background-color: #100020;
    font-family: "Share Tech Mono", monospace;
    color: #fff;
    padding-top: 75px;
    padding-inline: 25px;
    text-align: center;
}

a:link {
    color:aquamarine;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color:mediumaquamarine;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    color: antiquewhite;
    text-decoration: underline;
}

.content {
    position: relative;
    display: flex;
    min-width: 300px;
    width: 60vw;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.background {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 160%;
    width: 160%;
    object-fit: cover;
    z-index: -1;
}

.content-header {
    font-size: 2.5rem;
    font-weight: bold;
}

.content-text {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
}

.content-image {
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
