body {
    background-color: #100020;
    font-family: system-ui;
    color: #fff;
    padding-top: 75px;
    padding-inline: 25px;
}

.content {
    text-align: center;
}

.background {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 160%;
    width: 160%;
    object-fit: cover;
    z-index: -1;
}