---
// Component Imports
import lost from "../../public/confused-bot.svg";
import dots from "../../background-ky-coloured.svg";
import sketches from "../../sketches.svg";
import Navbar from "../components/Navbar";
import "../styles/parallax.css";
import "../styles/default.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Navbar />
    <div class="parallax-wrapper">
      <header class="parallax-header">
        <img src={dots} class="background" />
        <img src={sketches} class="foreground" />
        <img src={lost} style="height: 75%;" />
      </header>
      <section style="text-align: center; font-size: 50px;">
        <h1>how did you get here?</h1>
        <p>you seem to be lost...</p>
        <p>
          here, a link back {"---> "}
          <a href="/">home</a>
        </p>
      </section>
    </div>
  </body>
</html>
