---
// Component Imports
import dots from "../../public/background-ky-coloured.svg";
import Navbar from "../components/Navbar";
import "../styles/default.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>page does not exist!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Navbar />
    <img src={dots} class="background" />
    <section>
      <h1>this page does not exist!</h1>
      <p>
        here, a link back {"---> "}
        <a href="/">home</a>
      </p>
    </section>
  </body>
</html>
