---
// Component Imports
import dots from "../../public/background-ky-coloured.svg";
import Navbar from "../components/Navbar";
import WIP from "../components/WIP.astro";
import "../styles/default.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>~/education</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar client:load />
    <img src={dots} class="background" />
    <WIP />
    <section class="content">
      <p class="content-header">- education -</p>
      <div class="content-text">
        describe my major, my specialisations, courses taken and how they link
        together maybe add grade too? good to be honest
      </div>
    </section>
  </body>
</html>
