---
// Component Imports
import wip from "../../public/wip-bot.svg";
import dots from "../../public/background-ky-coloured.svg";
import sketches from "../../public/sketches.svg";
import Navbar from "../components/Navbar";
import "../styles/parallax.css";
import "../styles/default.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Navbar />
    <div class="parallax-wrapper">
      <header class="parallax-header">
        <img src={dots} class="background" />
        <img src={sketches} class="foreground" />
        <img src={wip} />
      </header>
      <section>
        <h1>work in progress!</h1>
        <p>
          good news! whatever link you clicked will exist!... unfortunately, not
          yet.
        </p>
        <p>
          here, a link back {"---> "}
          <a href="/">home</a>
        </p>
      </section>
    </div>
  </body>
</html>
