---
import "./ForeverBanner.css";
---

<!--trick taken and modified from 
    https://medium.com/@archielister/make-an-infinitely-scrolling-banner-with-html-and-css-e7918506c496
    i have reduced its complexity quite a bit-->
<div id="container">
  <div class="scroll" id="scroll-one">
    <div class="item">Student</div>
    <div class="item">Developer</div>
    <div class="item">Designer</div>
    <div class="item">Cook</div>
    <div class="item">Inventor</div>
    <div class="item">Maker</div>
    <div class="item">Researcher</div>
    <div class="item">Thinker</div>
    <div class="item">Learner</div>
    <div class="item">Experimenter</div>
    <div class="item">Crusader</div>

    <!-- copy the same thing twice -->
    <div class="item">Student</div>
    <div class="item">Developer</div>
    <div class="item">Designer</div>
    <div class="item">Cook</div>
    <div class="item">Inventor</div>
    <div class="item">Maker</div>
    <div class="item">Researcher</div>
    <div class="item">Thinker</div>
    <div class="item">Learner</div>
    <div class="item">Experimenter</div>
    <div class="item">Crusader</div>
  </div>
</div>
