---
import lost from "../../public/confused-bot.svg";
---

<section class="content">
  <img src={lost} />
  <p class="content-header">this page does not exist!</p>
  <p>
    here, a link back {"---> "}
    <a href="/">home</a>
  </p>
</section>
