---
import wip from "../../public/wip-bot.svg";
---

<section class="content">
  <img src={wip} />
  <p class="content-header">under construction!</p>
  <div class="content-text">
    this page is still a work in progress - feel free to look, but it's not
    complete yet!
  </div>
  <p>
    here, a link back {"---> "}
    <a href="/">home</a>
  </p>
</section>
